.dashboard__header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 60px;
    border-bottom: 1px solid rgb(54, 54, 54);
    position: fixed;
    width: 100vw;
}

.header_logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.header_logo > div {
    transform: translateY(5px);
}

.heaher_search {
    flex: 1;
}

.header_search > div {
    position: relative;
    display: flex;
}

.header_search > div input {
    width: 268px;
    height: 36px;
    border-radius: 8px;
    color: rgb(142, 142, 142);
    background-color: rgb(38, 38, 38);
    outline: none;
    border: none;
    padding-left: 16px;
}

.header_search > div input.text {
    color: white;
    font-size: 16px;
}

.header_search input:focus + .search_icon > svg{
    display: none;
}

.header_search > div .search_icon {
    position: absolute;
    left: 15px;
    top: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgb(142, 142, 142);
}

.header_search .arrow {
    position: absolute;
    top: 50px;
    left: 130px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background-color: rgba(47, 47, 47);
    filter: drop-shadow(rgba(49, 49, 47, 0.389) 0px 0px 5px);
}

.search_results {
    position: absolute;
    top: 50px;
    left: -25px;
    width: 345px;
    min-height: 50px;
    max-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(224, 241, 255);
    background-color: rgba(47, 47, 47);
    border-radius: 6px;
    filter: drop-shadow(rgba(49, 49, 47, 0.389) 0px 0px 5px);
    overflow: scroll;
}

.search_results .non-existing {
    padding-left: 36px;
    padding-top: 15px;
}

.search_results > svg {
    width: 30px;
}

.search_results .result {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 54px;
    cursor: pointer;
}

.search_results .result:hover {
    background-color: black;
}

.result_profile > img {
    width: 44px;
    border-radius: 50%;
    margin-left: 20px;
}

.result_info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.result_info > h2 {
    all: unset;
    font-size: 14px;
    font-weight: 600;
}

.result_info > h3 {
    all: unset;
    font-size: 14px;
    font-weight: 400;
}

.header_buttons {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.header_buttons .activity-container {
    position: absolute;
    top: 40px;
    right: 100px;
    background-color: rgb(47, 47, 47);
    width: 500px;
    border-radius: 10px;
}

.header_buttons .activity-arrow {
    position: absolute;
    top: 44px;
    right: 182px;
    background-color: rgb(47, 47, 47);
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
}

.header_buttons .activity-container .activity-blank {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_buttons .activity-container .activity-blank > div {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 60px;
}

.activity-blank > div h4 {
    all: unset;
    color: #98f5e1;
    font-size: 14px;
    font-weight: 400;
}

.header_buttons .activity-container .activity-blank img {
    width: 20px;
    background-color: #98f5e1;
    border-radius: 50%;
}

.header_buttons .activity-container .activity-blank > span {
    color: #fbf8cc;
    width: 400px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.header_buttons .activity-container .activity-fill {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header_buttons .activity-container .fill-notification {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    cursor: pointer;
}

.header_buttons .activity-container .fill-notification:hover {
    background-color: rgb(34, 32, 32);
}

.activity-container .fill-notification > h3 {
    all: unset;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: whitesmoke;
}

.header_buttons .activity-container .fill-notification > span {
    padding-left: 4px;
    font-size: 14px;
    color: whitesmoke;
}

.header_buttons .activity-container .fill-notification > img {
    width: 30px;
    border-radius: 50%;
}

.header_buttons > svg {
    cursor: pointer;
}

.header_avatar > img {
    width: 24px;
    border-radius: 20px;
    cursor: pointer;
}

.header_avatar {
    position: relative;
}

.hidden {
    display: none;
}

.header_avatar .arrow {
    position: absolute;
    top: 43px;
    left: -8px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background-color: rgba(47, 47, 47);
    filter: drop-shadow(rgba(49, 49, 47, 0.389) 0px 0px 5px);
}

.avatar_menu {
    position: absolute;
    top: 42px;
    left: -160px;
    width: 230px;
    color: rgb(224, 241, 255);
    background-color: rgba(47, 47, 47);
    border-radius: 6px;
    filter: drop-shadow(rgba(49, 49, 47, 0.389) 0px 0px 5px);
}

.avatar_menu a {
    all: unset;
}

.avatar_menu ul {
    all: unset;
}

.avatar_menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    padding-left: 20px;
    cursor: pointer;
}

.avatar_menu li:hover {
    background-color: black;
}

